<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:minSdkVersion="24" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HouseManager"
        tools:targetApi="31">

        <activity
            android:name=".ui.main.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HouseManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HouseManager" />

        <activity
            android:name=".ui.leagues.LeaguesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HouseManager"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.leagues.CreateLeagueActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HouseManager"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.leagues.LeagueConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HouseManager"
            android:parentActivityName=".ui.leagues.CreateLeagueActivity" />

        <activity
            android:name=".ui.leagues.LeagueDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HouseManager"
            android:parentActivityName=".ui.leagues.LeaguesActivity" />

        <activity
            android:name=".MyTeamActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HouseManager"
            android:parentActivityName=".ui.leagues.LeagueDetailActivity" />

        <activity
            android:name=".ui.team.TeamsBrowserActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HouseManager" />

        <activity
            android:name=".ui.team.TeamDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HouseManager" />

        <activity
            android:name=".ui.team.PlayerDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HouseManager" />

        <activity
            android:name=".ui.market.TransferMarketActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HouseManager" />

        <activity
            android:name=".ui.leagues.ClassificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HouseManager"
            android:parentActivityName=".ui.leagues.LeagueDetailActivity" />

    </application>

</manifest>


